@import "../../variables.scss";

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
       url(../../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: local("Navigo Regular"),
       url(../../fonts/Navigo-Regular.woff2) format("woff2"),
       url(../../fonts/Navigo-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: local("Navigo Black"),
       url(../../fonts/Navigo-Black.woff2) format("woff2"),
       url(../../fonts/Navigo-Black.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-regular;
  font-size: $text;
  font-weight: normal;
  color: $black;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main__title {
  margin: 0 0 16px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;

  @media (min-width: $media-tablet) {
    font-size: 38px;
  }
}

.main__title-secondary {
  margin: 0 0 12px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}

.main__text {
  margin: 0;
}

.main__text--big {
  font-size: 22px;
  line-height: 1.4;
}

.main__link {
  color: inherit;
  transition: color 0.2s ease;
  will-change: color;
}

.main__link:hover,
.main__link:focus {
  color: $accent;
}

.main__image {
  width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 12px;
}
