@import "../../variables.scss";

.blog-controls {
  padding: 12px 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 0.5px solid $gray;
  font-size: $text-small;
  height: 36px; /* Костыль, чтобы меню не дергалось. Потом переверстать кнопки ссылки и меню нормально */

  .button__icon,
  .link__icon {
    margin-right: 0;
  }

  .link__underline {
    display: none;
  }

  .button__text {
    display: none;
  }

  @media (min-width: $tablet) {
    .button__icon,
    .link__icon {
      margin-right: 0.3em;
    }

    .link__underline {
      display: inherit;
    }

    .button__text {
      display: inherit;
    }
  }
}

.blog-controls__text-link {
  .link__underline {
    display: inherit;
  }
}

.blog-controls__left,
.blog-controls__right,
.blog-controls__group,
.blog-controls__item {
  flex-shrink: 0;
}

.blog-controls__left {
  margin-right: 24px;
}

.blog-controls__left,
.blog-controls__right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.blog-controls__group {
  margin-right: 24px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}

.blog-controls__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.blog-controls__secondary-text {
  color: $gray;
}

.blog-controls__item-label {
  display: inline-block;
}

.blog-controls__item-label-title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 15px;
}
