@import "../../../variables.scss";

.factoid__title {
  font-size: 30px;
  font-family: $font-bold;
  font-weight: bold;
  color: $red;
  white-space: nowrap;

  @media (min-width: $desktop) {
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 1;
  }
}

.factoid__content {
  font-size: $text-small;
}
