@import "../../variables.scss";

.files-attach__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 8px -10px 0;
}

.files-attach__file-button {
  cursor: pointer;
}

.files-attach__loader {
  padding: 0 10px;
}

.files-attach__item {
  position: relative;
  padding: 0 10px;
  margin-bottom: 15px;
  max-width: 150px;

  &_type {
    &_horizontal {
      max-width: 150px;

      .files-attach__item-image {
        width: auto;
      }
    }

    &_archive,
    &_document {
      max-width: 100px;

      .files-attach__item-image {
        border: 1px solid $black;
        box-sizing: border-box;
      }
    }
  }

  &_deleted {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.files-attach__item-image {
  padding: 0;
  display: block;
  width: auto;
  height: 100px;
  overflow: hidden;
  border-radius: $radius;
  background: none;
  border: none;
}

.files-attach__item-title {
  margin: 0;
  padding-top: 8px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.files-attach__item-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  border: 1px solid $black;
  background: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transform: translateY(-10px);
  cursor: pointer;
  box-sizing: border-box;
}
