@import "../../variables.scss";
@import "../../mixins.scss";

.blog-item {
  .blog-content {
    margin-bottom: $s-lg;

    @media (min-width: $media-tablet) {
      margin-bottom: $s-xl;
    }
  }
}

.blog-article__title {
  @include h2();

  @media (min-width: $media-tablet) {
    max-width: 1260px;
  }

  @media (min-width: $media-desktop-large) {
    max-width: 1950px;
  }
}

.blog-article__lead {
  margin: $s-sm 0 $s-lg;
  max-width: $blog-content-max-width;

  @media (min-width: $media-tablet) {
    margin: $s-md 0 $s-xl;
  }

  @media (min-width: $media-desktop-large) {
    margin-top: $s-lg;
  }

  .text {
    color: $gray;
  }
}

.blog-item__date {
  margin-right: $s-md;
  flex-shrink: 0;
  color: $gray;
}

.blog-item__footer {
  margin-bottom: $s-xxl;
  display: flex;
  align-items: flex-end;

  @media (min-width: $media-desktop-large) {
    margin-bottom: calc(#{$s-xxl} + #{$s-md});
  }
}

.blog-item__socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $s-sm;
  width: 100%;

  .likely__button,
  .likely__counter {
    display: none;
  }

  .likely__widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;

    &_vkontakte {
      background-color: #4D7399;

      &:hover {
        background-color: darken(#4D7399, 10%);
      }
    }

    &_facebook {
      background-color: #324D81;

      &:hover {
        background-color: darken(#324D81, 10%);
      }
    }

    &_telegram {
      background-color: #34A6DF;

      &:hover {
        background-color: darken(#34A6DF, 10%);
      }
    }

    &_twitter {
      background-color: #3CB1EE;

      &:hover {
        background-color: darken(#3CB1EE, 10%);
      }
    }

    @media (min-width: $media-tablet) {
      padding-left: $s-md;
      padding-right: 20px;
    }
  }

  .likely__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    svg {
      width: inherit;
      height: inherit;
      fill: white;
    }
  }

  .likely__button {
    @media (min-width: $media-tablet) {
      margin-left: $s-sm;
      display: inline;
      color: #fff;
      font-size: $f-size-xs;
      font-family: $font-bold;
    }
  }

  @media (min-width: $media-tablet) {
    grid-template-columns: repeat(4, minmax(30px, max-content));
  }
}

.blog-item__next-articles {
  padding: $s-xl 0 calc(#{$s-xxl} + #{$s-md});

  @media (min-width: $media-tablet) {
    padding: 0;
  }
}

.blog-item__next-articles-item {
  margin-bottom: $s-lg;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $media-tablet) {
    margin-bottom: 0;
    width: 50%;
    box-sizing: border-box;

    &:first-child {
      padding-right: $s-md;
    }

    &:last-child {
      padding-left: $s-md;
      text-align: right;
    }
  }
}

.blog-item__next-articles-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: $black;

  &:hover {
    .blog-item__next-articles-text {
      color: $cyan;
      border-bottom-color: rgba(1, 126, 255, 0.7);
    }
  }

  @media (min-width: $media-tablet) {
    padding: $s-xl 0 calc(#{$s-xxl} + #{$s-md});
  }
}

.blog-item__next-articles-label {
  margin: 0 0 $s-xs;
  font-size: $f-size-xs;
}

.blog-item__next-articles-text {
  margin: 0;
  display: inline;
  font-size: $f-size-md;
  font-family: $font-bold;
  border-bottom: 0.5px solid rgba(0, 31, 64, 0.7);

  @media (min-width: $desktop-large) {
    font-size: $f-size-lg;
  }
}

.blog-item__next-articles__container {
  @media (min-width: $media-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
