@import "./variables";

@mixin h2() {
  font-size: 28px;
  line-height: 34px;

  @media (min-width: $media-tablet) {
    font-size: 36px;
    line-height: 46px;
  }

  @media (min-width: $media-desktop-large) {
    font-size: 55px;
    line-height: 68px;
  }
}

@mixin p-xs() {
  font-size: $f-size-xs;
  line-height: 1.4;
}

@mixin p-md() {
  font-size: $f-size-md;
  line-height: 1.6;
}
