// Сетка
$gap-column: 30px;
$gap-row: 80px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1280px;

$media-xs: 480px;
$media-sm: 576px;
$media-tablet: 768px;
$media-lg: 992px;
$media-desktop: 1200px;
$media-desktop-large: 1600px;

// Границы
$radius: 4px;


// ## Цвета
// Синий
$cyan-light: #B7DAFF;
$cyan: #017EFF;
$cyan-dark: #0171E5;
$blue: #015EBF;
$blue-dark: #003F7F;
$black: #231F20;

// Зеленый
$accent: #4BB462;

// Красный
$red: #FF2A1A;
$red-light: #FFC1BC;

// Серый
$gray: #C9C9C9;


// Шрифты
$font-regular: "Navigo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-bold: $font-regular;

$h1-large: 95px;
$h1-size: 72px;
$text-big: 25px;
$text: 18px;
$text-small: 16px;

$f-size-xs: 15px;
$f-size-sm: 16px;
$f-size-md: 18px;
$f-size-lg: 24px;


// Отступы
$s-xs: 4px;
$s-sm: 8px;
$s-md: 16px;
$s-lg: 24px;
$s-xl: 32px;
$s-xxl: 40px;

$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 20px;
$spacing-l: 24px;
$spacing-xl: 32px;
$promo-title: 25px;


// Блог
$blog-h1-mobile: 44px;
$blog-h3-mobile: 18px;
$blog-mark-mobile: 25px;

$blog-h1-desktop: 58px;

$blog-content-max-width: 660px;
$blog-content-max-width-lg: 770px;

$blog-content-width: 660px;
$blog-content-large-width: 770px;
