@import "../../variables.scss";

.footer {
  padding: 40px 0 40px;
  border-top: 1px solid $gray;
  box-sizing: border-box;
}

.footer__content {
  position: relative;
}

.footer__text {
  padding-bottom: 30px;
}

.footer__copyright {
  padding: 0;
  cursor: default;
  color: inherit;
  text-decoration: none;
  border: none;
  background: none;

  &_logged {
    color: $red;
  }
}

.footer__row {
  @media (min-width: $tablet) {
    display: flex;
    margin: 0 -20px;
  }

  @media (min-width: $desktop-large) {
    margin: 0 -30px;
  }

  &_space-between {
    justify-content: space-between;
  }
}

.footer__column {
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding: 0 20px;
  }

  @media (min-width: $desktop-large) {
    padding: 0 30px;
  }

  &_copyright {
    position: absolute;
    top: calc(100% + 30px);

    @media (min-width: $tablet) {
      position: static;
    }
  }
}

.footer__title {
  margin-bottom: 5px;

  &_bold {
    font-family: $font-bold;
    font-weight: bold;
  }
}

.footer__list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer__item {
  display: flex;
  margin-right: 25px;
  margin-bottom: 10px;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  .link {
    &::before {
      content: "";
      margin-right: 5px;
      display: inline-block;
      vertical-align: text-bottom;
      width: 18px;
      height: 18px;
      background: no-repeat center/contain;
    }
  }

  &--telegram .link {
    &::before {
      background-image: url(../../images/svg/telegram-logo.svg);
    }
  }

  &--whatsapp .link {
    &::before {
      width: 20px;
      height: 20px;

      background-image: url(../../images/svg/whatsapp-logo.svg);
    }
  }

  &--vk .link {
    &::before {
      background-image: url(../../images/svg/vk-logo.svg);
    }
  }

  &--facebook .link {
    &::before {
      background-image: url(../../images/svg/facebook-logo.svg);
    }
  }

  &--instagram .link {
    &::before {
      background-image: url(../../images/svg/instagram-logo.svg);
    }
  }

  &--linkedin .link {
    &::before {
      background-image: url(../../images/svg/linkedin.svg);
    }
  }

  &--github .link {
    &::before {
      background-image: url(../../images/svg/github-logo.svg);
    }
  }

  &--viber,
  &--skype {
    &::before {
      content: "";
      margin-right: 5px;
      display: inline-block;
      vertical-align: text-bottom;
      width: 18px;
      height: 18px;
      background: no-repeat center/contain;
    }
  }

  &--viber {
    &::before {
      background-image: url(../../images/svg/viber-logo.svg);
    }
  }

  &--skype {
    &::before {
      background-image: url(../../images/svg/skype-logo.svg);
    }
  }
}
