@import "../../variables.scss";
@import "../../mixins.scss";

.blog-article-edit__controls {
  align-items: center;
}

.blog-article-edit__status-controls {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  min-height: 25px;

  @media (min-width: $media-tablet) {
    padding-bottom: $spacing-xs;
    height: auto;
  }
}

.blog-article-edit__footer-controls {
  margin-bottom: $s-md;
  display: grid;
  grid-template-columns: 187px 182px;
  grid-gap: $s-md;
}

.blog-article-edit__files-attach {
  margin-bottom: $s-xl;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog-article-edit__name-input,
.blog-article-edit__lead-input,
.blog-article-edit__content-input {
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 0;
}

.blog-article-edit__name-input {
  @include h2();
  font-family: $font-bold;
}

.blog-article-edit__lead-input,
.blog-article-edit__content-input {
  margin-bottom: $s-lg;
  max-width: 792px;
  @include p-md();

  @media (min-width: $media-tablet) {
    margin-bottom: $s-xl;
  }
}

.blog-article-edit__lead-input {
  margin: $s-md 0 $s-lg;
  color: $gray;

  @media (min-width: $media-tablet) {
    margin-bottom: $s-xl;
  }

  @media (min-width: $media-desktop-large) {
    margin-top: $s-lg;
  }
}

.blog-controls__status-text {
  margin-left: $s-md;
  display: flex;
  align-items: baseline;
  font-size: 0;
  color: $gray;

  &::before {
    content: "";
    width: 18px;
    height: 14px;
    display: block;
    background: url(./assets/icon-tick.svg) no-repeat center;

    @media (min-width: $media-desktop-large) {
      margin-right: $s-sm;
    }
  }

  @media (min-width: $media-desktop-large) {
    font-size: $f-size-xs;
  }
}

.blog-controls__status-loader {
  border-top-color: $gray;
  border-left-color: $gray;
}

.blog-article__markdown-popup-item {
  margin-bottom: $s-md;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.blog-article__markdown-popup-title {
  font-family: $font-bold;
}

.blog-article__markdown-popup-text {
  margin: 0;
  display: block;
}

.blog-article__markdown-button {
  transform: translateY(-1px);
}

.blog-article-edit__footer-item-label-title {
  margin: 0 0 $s-xs;
  @include p-xs();
}

.blog-article-edit__footer-item-input {
  padding: $s-sm $s-xs $s-sm $s-md;
  width: 100%;
  background: none;
}

.blog-article-edit__footer-buttons {
  margin-top: $s-xxl;
  padding-top: $s-sm;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
