@import "../../variables.scss";

.image-attach {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 389px;
  border-radius: 4px;
  border: 1px solid $cyan;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    border-color: $red;
  }
}

.image-attach__input {
  &:hover,
  &:focus {
    & + .image-attach {
      border-color: $red;
    }
  }
}

.image-attach__content {
  padding: 24px 8px 16px;
  box-sizing: border-box;
}

.image-attach__text {
  margin: 0;
  padding-top: 8px;
  font-size: 15px;
  color: $cyan;
}

.image-attach__icon {
  margin: 0 auto;
  width: 130px;
  height: 95px;
  background: url(./assets/icon.svg) no-repeat center;
}

.image-attach__loader {
  text-align: center;
}

.image-attach__image {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: cover;
}
