@import "../../../../variables.scss";

.image {
  display: block;

  &--border {
    border: 1px solid $gray;
    border-radius: $radius;
    overflow: hidden;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
