@import "../../../../variables.scss";

.table {
  display: block;
  border-collapse: collapse;
  table-layout: fixed;
  width: fit-content;
  max-width: 100%;
  border:0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.table__thead {
  border-bottom: 1px solid $black;

  .table__th {
    padding-bottom: $spacing-xs;
  }

}

.table__tr {
  vertical-align: baseline;
}

.table__tbody {
  .table__tr {
    .table__td {
      padding-top: 25px;
    }

    &:first-child {
      .table__td {
        padding-top: 20px;
      }
    }
  }
}

.table__th,
.table__td {
  text-align: left;
  padding-right: 50px;
}

.table__th {
  font-family: $font-bold;
  font-weight: bold;
}
