@import "../../variables.scss";
@import "../../mixins.scss";

.blog-content {
  b, strong {
    font-family: $font-bold;
  }

  .text {
    margin-top: $s-md;

    @media (min-width: $media-tablet) {
      margin-top: $s-lg;
    }
  }

  .h1 {
    @include h2();
  }

  .h2 {
    margin-top: $s-xl;

    @media (min-width: $media-tablet) {
      margin-top: $s-xxl;

      & + * {
        margin-top: $s-md;
      }
    }
  }

  .h3 {
    margin-top: $s-lg;
    font-size: $f-size-md;

    & + * {
      margin-top: 0;
    }

    @media (min-width: $media-tablet) {
      margin-top: $s-xxl;
    }
  }

  .text {
    &_size_large {
      font-size: $f-size-lg;
    }

    code {
      padding: $s-xs $s-md;
      background: $black;
      color: white;
      border-radius: $radius;
    }
  }

  .table {
    margin: $s-md 0;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;
    }
  }

  .image {
    margin: $s-md 0;
    max-width: 100%;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;

      & + .signature {
        margin-top: -$s-md;
      }
    }
  }

  .signature {
    .text {
      font-size: $f-size-xs;
    }
  }

  .idea {
    margin: $s-xl 0;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;
    }
  }

  iframe {
    margin: $s-xl 0;
    width: 100%;
    height: 250px;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;
      height: 450px;
    }
  }

  hr {
    margin: $s-xl 0;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;
    }
  }

  pre {
    margin: $s-xl 0;

    @media (min-width: $media-tablet) {
      margin: $s-lg 0;
    }
  }

  @media (min-width: $media-tablet) {
    .h1,
    .h2,
    .h3,
    .text,
    .ul,
    .ol,
    .idea {
      max-width: $blog-content-max-width;
    }
  }

  @media (min-width: $media-desktop-large) {
    .h1,
    .h2,
    .h3,
    .text,
    .ul,
    .ol {
      max-width: $blog-content-max-width-lg;
    }

    .idea {
      max-width: 1050px;
    }
  }
}

.blog-content__blockquote {
  margin: $s-xl 0;
  font-size: $f-size-lg;

  .text {
    font-size: inherit;
    line-height: 1.5;
    max-width: 1150px;
  }

  @media (min-width: $media-tablet) {
    margin: calc(#{$s-xxl} + #{$s-md}) 0;
    font-size: 40px;

    .text {
      line-height: 1.4;
    }
  }
}

.blog-content__factoid {
  margin: $s-md 0;

  .image {
    margin: 0;
  }

  .text {
    margin-top: $s-xs;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .blog-content__factoid-title {
    .text {
      margin: 0;
    }
  }
}

.blog-content__image-container {
  display: inline-block;
}

.blog-content__factoid {
  position: relative;
  padding: $s-md 0;

  .factoid {
    @media (min-width: $media-tablet) {
      position: absolute;
      min-width: 240px;
      max-width: 320px;
      left: 680px;
    }

    @media (min-width: $media-desktop-large) {
      left: 850px;
    }
  }

  @media (min-width: $media-tablet) {
    padding: 0;
  }
}
