@import "../../../variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $radius;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  &:disabled {
    cursor: default;
  }
}

.button_size {
  &_small {
    font-size: 15px;
    padding: 1px 15px 0;
    height: 33px;

    .spinner {
      position: relative;
      top: -1px;
      margin-right: 6px;
    }

    .button__icon {
      margin-right: 0.3em;
      width: 18px;
    }
  }

  &_normal {
    font-size: $text-small;
    padding: 0 26px 0;
    height: 42px;

    .spinner {
      position: relative;
      top: -2px;
      margin-right: 8px;
    }

    .button__icon {
      margin-right: 0.3em;
      width: 20px;
    }
  }

  &_large {
    font-size: $text-big;
    padding: 0 40px 0;
    height: 63px;

    .spinner {
      position: relative;
      top: -2px;
      margin-right: 15px;
    }

    .button__icon {
      margin-right: 0.5em;
      width: 29px;
    }
  }
}

.button_theme {
  &_default {
    color: $cyan;
    border-color: $cyan-light;
    background-color: white;

    &:hover,
    &:focus {
      color: $blue;
      border-color: $cyan-dark;
    }

    &:disabled {
      color: $gray;
      border-color: $gray;
    }
  }

  &_primary {
    color: white;
    background-color: $cyan;

    &:hover,
    &:focus {
      background-color: $blue;
    }

    &:disabled {
      background-color: $gray;
    }
  }

  &_danger {
    color: $red;
    border-color: $red-light;
    background-color: white;

    &:hover,
    &:focus {
      border-color: $red;
    }

    &:disabled {
      color: $gray;
      border-color: $gray;
    }
  }

  &_black {
    padding: 0;
    color: $black;
    border: none;
    background-color: white;

    &:hover,
    &:focus {
      color: $cyan;
    }

    &:disabled {
      color: $gray;
    }
  }
}

.button_no-border {
  padding: 0;
  border: none;
  background-color: white;
}
