@import "../../../../variables.scss";

.h3 {
  margin: 0;
  font-family: $font-bold;
  font-size: 22px;
  font-weight: bold;
  color: $black;
  line-height: 1.4;

  @media (min-width: $tablet) {
    font-size: 25px;
  }
}
