@import "../../variables";
@import "../../mixins";

.main-page {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;

  .blog-content {
    .main-page__title {
      margin-top: 0;
    }
  }
}

.main-page__header {
  @media (min-width: $media-tablet) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $media-lg) {
    flex-direction: column-reverse;
  }

  @media (min-width: $media-desktop) {
    flex-direction: row;
  }
}

.main-page__image-container {
  margin-bottom: $s-md;

  @media (min-width: $media-tablet) {
    margin-bottom: 0;
    width: 64%;
    flex-shrink: 0;
  }

  @media (min-width: $media-lg) {
    width: 100%;
  }

  @media (min-width: $media-desktop) {
    flex-shrink: 1;
  }
}

.main-page__header-content {
  @media (min-width: $media-tablet) {
    padding-right: $s-md;
    padding-top: calc(#{$s-xxl} + #{$s-md});
  }

  @media (min-width: $media-lg) {
    padding: 0;
    margin-bottom: $s-sm;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: $media-desktop) {
    margin: 0;
    padding-left: $s-md;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.main-page__header-image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.main-page__header-title {
  @include h2();
  margin-bottom: $s-xs;

  @media (min-width: $media-tablet) {
    margin-bottom: $s-sm;
  }

  @media (min-width: $media-lg) {
    margin-bottom: 0;
    padding-right: $s-sm;
  }

  @media (min-width: $media-desktop) {
    margin-bottom: $s-sm;
    padding-right: 0;
  }
}

.main-page__title {
  margin-bottom: $spacing-l;
}

.main-page__promo-project-title {
  .link__underline {
    white-space: nowrap;
  }
}

.main-page__promo-project {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(12, 1fr);
  }
}

.main-page__promo-image {
  &--mobile {
    @media (min-width: $tablet) {
      grid-column: span 4;
      grid-row: span 4;
    }
  }

  &--web {
    @media (min-width: $tablet) {
      grid-column: span 8;
    }
  }

  &--issue {
    @media (min-width: $tablet) {
      grid-column: span 4;
    }
  }

  &--agile {
    @media (min-width: $tablet) {
      grid-column: span 4;
    }
  }
}

.main-page__image-mobile {
  border: 5px solid $gray;
  border-radius: 30px;
  overflow: hidden;
}

.main-page__promo-text {
  max-width: 600px;

  @media (min-width: $tablet) {
    grid-column: span 8;
  }
}

.main-page__commercial-list {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.main-page__commercial-item {
  @media (min-width: $tablet) {
    &:nth-child(1) {
      grid-column: span 12;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 6;
    }
  }

  @media (min-width: $desktop) {
    &:nth-child(1) {
      grid-column: span 12;
    }

    &:nth-child(2) {
      grid-column: span 4;
    }

    &:nth-child(3) {
      grid-column: span 8;
    }
  }

  &--fixed-height {
    @media (min-width: $desktop) {
      .image {
        height: 100%;
      }

      .project-preview__image {
        height: 34vw;
        max-height: 555px;
        overflow: hidden;
      }
    }
  }
}

.main-page__reviews-title {
  margin-bottom: $spacing-m;
}

.main-page__reviews {
  margin-top: 30px;
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
  }
}

.main-page__reviews-item {
  @media (min-width: $tablet) {
    grid-column: span 6;
  }

  @media (min-width: $desktop-large) {
    grid-column: span 3;

    &:nth-child(1) {
      grid-column: span 6;
    }
  }
}

.main-page__blog-item-title {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

.main-page__blog-list-title {
  font-family: $font-bold;
  margin-bottom: 15px;
}

.main-page__blog-list {
  @media (min-width: $tablet) {
    column-count: 2;
    column-gap: $gap-column;
  }

  @media (min-width: $desktop-large) {
    column-count: 4;
  }
}

.main-page__blog-link {
  margin-bottom: 20px;

  &--image {
    display: inline-block;
    width: 100%;

    .image {
      margin-bottom: 10px;
    }

    .link--image {
      width: 100%;
    }
  }
}

.main-page__cta {
  padding: 40px 0 70px;
  text-align: center;
  background-color: $cyan;

  @media (min-width: $desktop) {
    padding: 80px 0 100px;
  }
}

.main-page__cta-title {
  margin-bottom: 15px;
  color: white;
}

.main-page__cta-text {
  margin-bottom: 30px;
  color: white;

  @media (min-width: $desktop) {
    margin-bottom: 60px;
  }
}

.main-page__cta-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;

  @media (min-width: $desktop) {
    margin: 0 -10px;
  }
}

.main-page__cta-link {
  padding: 6px 10px;
  width: 100%;
  justify-content: center;

  @media (min-width: $desktop) {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
