@import "../../variables";
@import "../../mixins";

.main {
  margin: 0 auto 40px;
  display: grid;
  gap: 40px;
}

.main-image {
  display: none;
}

.courses__item {
  display: block;
  text-decoration: none;
  color: inherit;
}

.courses__item .image {
  margin-bottom: 12px;
}

.courses__item:hover .courses__fake-link,
.courses__item:focus .courses__fake-link {
  color: $accent;
}

.courses__fake-link {
  text-decoration: underline;
  transition: color 0.2s ease;
  will-change: color;
}

.courses__list {
  display: grid;
  gap: 28px;
}

.notes__content {
  display: flex;
  flex-direction: column;
}

.notes__list {
  margin: -6px 0 20px;
  padding: 0;
  list-style: none;
}

.notes__link {
  padding: 6px 0;
  display: block;
}

.notes__more-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.notes__more-link:hover::after,
.notes__more-link:focus::after {
  transform: translate3d(25%, 0, 0);
}

.notes__more-link::after {
  content: "";
  margin-left: 20px;
  display: block;
  width: 80px;
  height: 61px;
  background: url(../../images/svg/hand.svg) no-repeat;
  transform: translate3d(0, 0, 0);
  transition: transform 0.35s ease;
}

.subscribe {
  padding: 24px 20px 40px;
  background: linear-gradient(to bottom, #1FA5FF, #1053FF);
  color: #fff;
  border-radius: 12px;
}

.subscribe__list {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}

.subscribe__link {
  display: block;
  padding: 4px 0;
  color: inherit;
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.subscribe__link:hover,
.subscribe__link:focus {
  opacity: 0.7;
}

.garage__list {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.garage__list-item::after {
  content: "•";
  margin: 0 8px;
}

.garage__list-item:last-child::after {
  display: none;
}

.garage__link {
  text-decoration: none;
}

.main-footer {
  padding: 0 20px 60px;
  display: grid;
  gap: 40px;
}

@media (min-width: $media-tablet) {
  .title {
    font-size: 38px;
  }

  .main {
    grid-template-columns: 36% auto;
    column-gap: 24px;
    grid-template-areas:
            "i p"
            "n n"
            "c c";
  }

  .main-image {
    display: block;
    grid-area: i;
  }

  .promo {
    grid-area: p;
  }

  .courses {
    grid-area: c;
  }

  .notes {
    grid-area: n;
  }

  .courses__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .notes__content {
    flex-direction: row;
    align-items: flex-end;
  }

  .notes__list {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .notes__more-link {
    transform: translate(44px, -5px);
  }

  .subscribe__list {
    display: flex;
    align-items: baseline;
  }

  .subscribe__link {
    padding-right: 28px;
  }
}

@media (min-width: $media-lg) {
  .main {
    grid-template-columns: 49% auto;
    grid-template-rows: 2fr;
    grid-template-areas:
            "i p"
            "i n"
            "c c";
  }

  .main-footer {
    grid-template-columns: 33% auto;
    grid-template-areas: "g s";
    gap: 20px;
  }

  .garage {
    grid-area: g;
    margin-top: 24px;
  }

  .subscribe {
    grid-area: s;
  }

  .subscribe__text {
    display: flex;
    flex-direction: column;
  }

  .notes__more-link {
    transform: translate(0, -5px);
    flex-direction: column;
    align-items: stretch;
  }

  .notes__more-link::after {
    margin-left: 0;
  }
}

@media all and (min-width: 1280px) {
  .main {
    grid-template-columns: 49% auto;
    grid-template-rows: 2fr;
    grid-template-areas: "i p" "i n" "i c";
  }

  .notes__more-link {
    flex-direction: row;
    align-items: center;
  }

  .notes__more-link::after {
    margin-left: 20px;
  }
}
