@import "../../variables.scss";
@import "../../mixins.scss";

.blog-list {
  .blog-content {
    margin-bottom: $s-lg;

    @media (min-width: $media-tablet) {
      margin-bottom: $s-xl;
    }
  }
}

.blog-list__article {
  margin-bottom: $s-xxl;
  display: block;
  width: 100%;
  text-decoration: none;

  &:hover {
    .blog-list__article-title {
      color: $cyan;
      border-bottom-color: rgba(1, 126, 255, 0.7);
    }
  }

  @media (min-width: $media-desktop-large) {
    margin-bottom: calc(#{$s-xxl} + #{$s-md});
  }
}

.blog-list__article-title {
  @include h2();
  display: inline;
  border-bottom: 0.5px solid rgba(0, 31, 64, 0.7);

  @media (min-width: $media-tablet) {
    max-width: 1260px;
  }

  @media (min-width: $media-desktop-large) {
    max-width: 1950px;
  }
}

.blog-list__article-lead {
  margin-top: $s-sm;
  max-width: $blog-content-max-width;

  @media (min-width: $media-tablet) {
    margin-top: $s-md;
  }

  @media (min-width: $media-desktop-large) {
    margin-top: $s-lg;
  }
}

.blog-list__article-date {
  margin-top: $s-sm;
  color: $gray;
}
