@import "../../../variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal__backdrop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal__content {
  padding: 25px 30px;
  max-width: 600px;
  background-color: white;
  border-radius: $radius;
  box-sizing: border-box;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-25%);
}

.modal__footer {
  display: flex;
  flex-direction: row-reverse;

  & > * {
    margin-left: 20px;

    &:last-child {
      margin-left: 0;
    }
  }
}
