@import "../../../../variables.scss";

.link {
  text-decoration: none;

  &_icon {
    display: flex;
  }
}

.link_theme {
  &_default {
    color: $cyan;

    &:hover,
    &:focus,
    &.link_hovered {
      .link__icon {
        color: $red;
      }

      .link__underline {
        color: $red;
        border-bottom-color: $red-light;
      }
    }

    .link__underline {
      border-bottom-color: $cyan-light;
    }
  }

  &_black {
    color: $black;
    border-bottom-color: transparent;

    &:hover,
    &:focus,
    &.link_hovered {
      .link__icon,
      .link__underline {
        color: $cyan;
      }

      .link__underline {
        border-bottom-color: rgba(1, 126, 255, 0.7);
      }
    }

    .link__underline {
      border-bottom-color: rgba(0, 31, 64, 0.7);
    }
  }

  &_white {
    color: white;

    &:hover,
    &:focus,
    &.link_hovered {
      .link__icon {
        color: $cyan-light;
      }

      .link__underline {
        color: $cyan-light;
        border-bottom-color: $cyan-light;
      }
    }

    .link__underline {
      border-bottom-color: white;
    }
  }
}

.link_inline-block {
  display: inline-block;
}

.link__icon {
  margin-right: 0.3em;
}

.link__underline {
  padding-bottom: 2px;
  box-sizing: border-box;

  &_line {
    border-bottom: 0.5px solid transparent;
  }
}
