@import "../../../variables.scss";

.popup-confirm {
  position: relative;
}

.popup-confirm__popup {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 12px 8px;
  width: max-content;
  max-width: 320px;
  background-color: #fff;
  border: 0.5px solid #E5E5E5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1;
}

.popup-confirm__title {
  margin: 0;
  padding-bottom: 4px;
  font-family: $font-bold;
  font-size: 15px;
}

.popup-confirm__text {
  margin: 0;
  font-size: 15px;
}

.popup-confirm__actions {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-right: 8px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }

    .button__text {
      display: block;
    }
  }
}
