@import "../../variables.scss";

.page-layout {
  .header {
    margin-bottom: 13px;
  }
}

.page-layout__container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  box-sizing: border-box;
}

.page-layout__main {
  margin-bottom: 80px;
  display: grid;
  grid-row-gap: 60px;

  @media (min-width: $tablet) {
    margin-bottom: 100px;
    grid-row-gap: $gap-row;
  }
}
