@import "../../../variables.scss";

.input {
  padding: 12px 16px;
  border: 1px solid $cyan-light;
  border-radius: $radius;
  font-size: inherit;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: $cyan;
  }

  &:disabled {
    cursor: default;
  }

  &_size {
    &_small {
      font-size: 15px;
      height: 33px;
    }

    &_normal {
      font-size: $text-small;
      height: 42px;
    }

    &_large {
      font-size: $text-big;
      height: 63px;
    }
  }
}
