@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.idea {
  margin: 0;
  padding: 20px 25px;
  display: inline-block;
  font-family: $font-bold;
  @include h2();
  border: 20px solid $cyan;
  box-sizing: border-box;

  @media (min-width: $media-tablet) {
    padding: 50px 70px;
    border-width: 30px;
  }
}
