@import "../../../variables.scss";

.tabs {
  overflow: hidden;
}

.tabs__container {
  padding-bottom: 20px;
  margin-bottom: -20px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.tabs__button {
  flex: 0 0 auto;

  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & + .tabs__button {
    margin-left: -1px;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    color: white !important;
  }
}

.tabs__pane {
  display: grid;
  grid-row-gap: 50px;

  @media (min-width: $tablet) {
    grid-row-gap: $gap-row;
  }
}
