@import "../../../../variables.scss";

.h2 {
  margin: 0;
  font-family: $font-bold;
  font-size: $f-size-lg;
  font-weight: bold;
  color: $black;
  line-height: 1.3;

  @media (min-width: $media-tablet) {
    font-size: 28px;
  }

  @media (min-width: $media-desktop-large) {
    font-size: 36px;
  }
}
