@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.text {
  margin: 0;
  font-weight: normal;
  color: $black;

  &_size {
    &_smallest {
      @include p-xs();
    }

    &_small {
      font-size: $f-size-sm;
      line-height: 1.4;
    }

    &_normal {
      @include p-md();
    }

    &_large {
      font-size: $f-size-md;
      line-height: 1.6;

      @media (min-width: $tablet) {
        font-size: $f-size-lg;
        line-height: 1.5;
      }
    }
  }
}
