@import "../../variables.scss";
@import "../../mixins.scss";

.blog-draft-page-content__message {
  margin-bottom: $s-xl;
  @include p-xs();
}

.blog-draft-page-content__social-image {
  max-width: 400px;

  img {
    max-width: 100%;
  }
}

.blog-draft-page-content__social-image-text {
  margin-bottom: $s-sm;
}
