@import "../../variables.scss";

.promo__title {
  margin-bottom: $s-lg;

  @media (min-width: $desktop-large) {
    font-size: $h1-large;
  }
}

.promo__image {
  border-radius: 50%;
  overflow: hidden;
}
