@import "../../variables.scss";

.project-preview {
  .h1,
  .h2,
  .h3,
  .text {
    margin-bottom: 10px;
  }

  &_horizontal {
    @media (min-width: $tablet) {
      display: grid;
      grid-gap: $gap-column;
      grid-template-columns: repeat(12, 1fr);

      .project-preview__image {
        margin-bottom: 0;
        grid-column: span 6;
      }

      .project-preview__content {
        grid-column: span 6;
      }
    }

    @media (min-width: $desktop) {
      .project-preview__image {
        grid-column: span 8;
      }

      .project-preview__content {
        grid-column: span 4;
      }
    }

    @media (min-width: $desktop-large) {
      .project-preview__image {
        grid-column: span 9;
      }

      .project-preview__content {
        grid-column: span 3;
      }
    }
  }
}

.project-preview__image {
  display: block;
  margin-bottom: 20px;
}
