@import "../../variables.scss";

.not-found-page {
  display: block;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 60px;

  @media (min-width: $tablet) {
    margin-top: 80px;
    padding-bottom: 120px;
  }
}
