@import "../../variables.scss";

.small-cta {
  padding: 50px 0 60px;
  display: flex;
  align-items: center;
  background-color: $cyan;
  box-sizing: border-box;

  @media (min-width: $desktop) {
    padding: 80px 0 100px;
  }

  @media (min-width: $desktop-large) {
    padding: 140px 40px 160px;
    background: $cyan url(../../images/schreibfeder.png) no-repeat 90% center/27vw;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../images/schreibfeder@2x.png);
    }
  }
}

.small-cta__text {
  color: white;
}

.small-cta__link {
  font-size: 7vw;
  font-family: $font-bold;
  font-weight: bold;
  width: 100%;

  @media (min-width: $desktop-large) {
    font-size: 5vw;
  }
}
