@import "../../variables";

.post-not-found__title {
  margin-bottom: $s-lg;
}

.post-not-found__actions {
  display: flex;
  align-items: baseline;

  & > * {
    margin-right: $s-md;

    &:last-child {
      margin-right: 0;
    }
  }
}
