@import "../../../../variables.scss";

.tracker-icon {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid $gray;
  border-radius: $radius;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.7em;
    height: 0.7em;
    background: url(../../../../images/svg/tracker-icon.svg) no-repeat center/cover;
    transform: translate(-50%, -50%);
  }
}
