@import "../../../../variables.scss";

.h1 {
  margin: 0;
  font-family: $font-bold;
  font-size: 44px;
  font-weight: bold;
  color: $black;
  line-height: 1.2;

  @media (min-width: $desktop) {
    font-size: $h1-size;
  }

  @media (min-width: $desktop-large) {
    font-size: $h1-large;
  }
}
