@import "../../../variables.scss";

.spinner {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 100px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  border-top-color: $cyan;
  border-left-color: $cyan;
  animation: spinner-rotate 1s infinite linear;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.spinner_theme {
  &_default {
    border-top-color: $cyan;
    border-left-color: $cyan;
  }

  &_primary {
    border-top-color: white;
    border-left-color: white;
  }

  &_danger {
    border-top-color: $red;
    border-left-color: $red;
  }
}

.spinner_size {
  &_small {
    width: 13px;
    height: 13px;
  }

  &_normal {
    width: 17px;
    height: 17px;
  }

  &_large {
    width: 27px;
    height: 27px;
  }
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
