@import "../../../variables.scss";

.message {
  position: fixed;
  top: 0;
  left: 50%;
  padding-top: 15px;
  z-index: 100;
}

.message__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.message__item {
  margin-bottom: 15px;
  padding: 12px 22px 10px;
  display: flex;
  align-items: baseline;
  font-size: 15px;
  text-align: left;
  line-height: 1.4;
  background: white;
  border-radius: $radius;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-sizing: border-box;
}

.message__icon {
  margin-right: 8px;
  flex-shrink: 0;
  transform: translateY(2px);
  width: 15px;
  height: 15px;
  background: no-repeat center/cover;

  &_default {
    .message__icon-color {
      fill: $cyan;
    }
  }

  &_success {
    .message__icon-color {
      fill: #23d400;
    }
  }

  &_warning {
    .message__icon-color {
      fill: #efc22a;
    }
  }

  &_danger {
    .message__icon-color {
      fill: #d60706;
    }
  }
}

/* Анимация */
.message-animation-enter {
  opacity: 0.01;
  transform: scale(0.95) translateY(-20px);
}
.message-animation-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: transform 0.2s ease-out;
}
.message-animation-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.message-animation-exit-active {
  opacity: 0.01;
  transform: scale(0.95) translateY(-20px);
  transition: 0.2s ease-out;
  transition-property: transform, opacity;
}
