@import "../../../../variables.scss";

.blockquote {
  margin: 0;

  .text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.blockquote__title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-sizing: border-box;

  &:after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $blue;
    box-sizing: inherit;
  }
}

.blockquote__title-text {
  flex-shrink: 0;
  font-family: $font-bold;
  font-weight: bold;
  padding-right: 20px;
}
