@import "../../variables";

.login-modal {
  .modal__footer {
    margin-top: 20px;
  }
}

.login-modal__title {
  margin-bottom: 20px;
}

.login-modal__label {
  display: flex;
  flex-direction: column;
}

.login-modal__error {
  padding-top: 5px;
  font-size: 15px;
  color: $gray;
}
