@import "../../variables.scss";

.blog-drafts__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $s-xxl $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }

  @media (min-width: $desktop-large) {
    grid-template-columns: repeat(4, minmax(320px, 1fr));
  }
}

.blog-drafts__item-paper {
  padding: $s-lg $s-md;
  margin-bottom: $spacing-xs;
  height: 126vw;
  max-height: 511px;
  border: 1px solid currentColor;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 426px;
  }

  @media (min-width: $desktop-large) {
    height: 456px;
  }
}

.blog-drafts__item-content-pre {
  margin: 0;
  padding: 0;
  font-family: $font-regular;
  font-size: $f-size-xs;
  background-color: white;
  color: $black;
  white-space: pre-line;
}

.blog-drafts__item-title {
  display: inline;
  color: currentColor;
}
