@import "../../variables.scss";

.header {
  padding-bottom: 16px;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
  transform: translateX(-20px);
}

.header__link {
  padding: 24px 10px;
  display: block;
  text-decoration: none;
}

.header__list-item--active {
  color: $accent;
}

.header__list-item:first-child {
  font-weight: bold;
}

.header__list-item:first-child .header__link {
  padding-left: 20px;
}
