@import "../../variables.scss";

.collaboration-page {
  display: block;
  margin-top: 20px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    margin-top: 80px;
  }
}

.collaboration-page__content {
  display: grid;
  grid-row-gap: 60px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    grid-row-gap: $gap-row;
  }
}

.collaboration-page__max-content {
  @media (min-width: $desktop) {
    max-width: 80%;
  }
}

.collaboration-page__text {
  margin-top: $spacing-s;

  @media (min-width: $desktop) {
    margin-top: $spacing-l;
  }
}

.collaboration-page__frontend-section {
  margin-bottom: 80px;

  @media (min-width: $tablet) {
    margin-bottom: 100px;
  }
}

.collaboration-page__caption {
  margin-bottom: 40px;
}

.collaboration-page__title {
  margin-bottom: $promo-title;
}

.collaboration-page__react-projects {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  .image {
    @media (min-width: $tablet) {
      height: 100%;
    }
  }

  .project-preview__image {
    @media (min-width: $tablet) {
      height: 24vw;
      max-height: 402px;
      overflow: hidden;
    }
  }
}

.collaboration-page__landing-projects {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: 8fr 4fr;
  }

  .image {
    @media (min-width: $tablet) {
      height: 100%;
    }
  }

  .project-preview__image {
    @media (min-width: $tablet) {
      height: 50vw;
      max-height: 800px;
      overflow: hidden;
    }
  }
}

.collaboration-page__company-service {
  display: grid;

  @media (min-width: $desktop) {
    grid-template-columns: 7fr 5fr;
    grid-gap: $gap-column;
  }
}

.collaboration-page__company-service-column {
  .text {
    margin-bottom: 20px;
  }
}

.collaboration-page__company-reviews {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-large) {
    grid-template-columns: 3fr repeat(2, 2fr);
  }
}

.collaboration-page__company-reviews-item {
  &:first-child {
    @media (min-width: $desktop) {
      grid-column-start: span 2;
    }

    @media (min-width: $desktop-large) {
      grid-column-start: span 1;
    }
  }
}

.collaboration-page__academy-articles {
  .text {
    margin-bottom: 10px;
  }
}

.collaboration-page__academy-articles-list {
  display: grid;
  grid-gap: $gap-column;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.collaboration-page__academy-articles-item {
  .image {
    margin-bottom: 10px;
  }
}

.collaboration-page__frontend-reviews {
  display: grid;
  grid-gap: $gap-column;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-large) {
    grid-template-columns: 6fr 3fr 3fr;
  }
}

.collaboration-page__invitation {
  max-width: 1053px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.collaboration-page__invitation-text {
  font-size: 24px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 60px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
  }
}

.collaboration-page__hired-list {
  position: relative;
  display: grid;
  grid-gap: $gap-column;
  margin-bottom: 30px;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 6fr);
    border: 1px solid $gray;
    border-left-color: transparent;
    border-right-color: transparent;
    box-sizing: border-box;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 1px;
      background-color: $gray;
    }
  }
}

.collaboration-page__hired-item {
  padding-top: 20px;
  border-top: 1px solid $gray;
  box-sizing: border-box;

  @media (min-width: $desktop) {
    border: none;
    padding: 30px;
  }
}

.collaboration-page__hired-title {
  margin-bottom: 20px;

  .link__underline {
    white-space: nowrap;
  }
}
